    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= meta.title %></title>
    <meta name="description" content="<%= meta.description %>">
    <link rel="canonical" href="<%= meta.canonical %>">

    <meta property="og:title" content="<%= meta.title %>">
    <meta property="og:description" content="<%= meta.description %>">
    <meta property="og:image" content="<%= meta.ogpImage %>">

    <script type="text/javascript" src="//typesquare.com/3/tsst/script/ja/typesquare.js?5fc9a1e6920440a694d709cdac1e02e5" charset="utf-8"></script>
    
    <link rel="stylesheet" href="<%= siteRoot %>styles/style.css">